body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #333;
  font-size: 100%;
}

* {
  margin: 0;
  padding: 0;
}

::selection {
  background: #007eb6;
  color: #fff;
}

img,
video,
iframe {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #007eb6;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 1rem 0;
}

.content {
  border-radius: 4px;
  max-width: 980px;
  margin: 0 auto;
  padding-top: 1rem;
}

.blog .content > div {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.blog .item {
  border-bottom: 1px dashed #aaa;
  padding-bottom: 1rem;
}
section {
  @media (min-width: $break-med) {
    max-width: $max-width;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-column-gap: 1rem;
    padding-top: 2rem;
  }
}
article {
  margin: 0 1rem;
  iframe {
    min-height: 300px;
  }
}
