.content-video {
  iframe {
    background: #222;
    height: 320px;
    width: 100vw;
  }
  .btn-list {
    padding: 6px;
    display: flex;
    li {
      margin: 1rem;
      a {
        text-decoration: none;
      }
    }
    .active {
      border-radius: 4px;
      background: $link;
      color: #fff;
      padding: 0.5rem;
    }
  }
}
